#add-structure-popup.popup{:style => "display: none"}
  #structure-busy.busy{:style => "display: none"}= image 'spinner.gif'
  %h3 Add Attribute
  - form_remote_tag(:url => page_add_structure_url, :update => "extended-metadata", :position => :bottom, :loading => 'structure_loading()', :complete => 'structure_added()', :condition => 'valid_structure_name()') do
    %div
      = hidden_field_tag 'index', @index, :id => 'structure-index-field'
      = text_field_tag "attribute[name]", "", :id => 'attr-name-field', :maxlength => 100
      = submit_tag "Add Attribute", :id => 'add-part-button'
      %p
      = link_to_function 'Close', "$(this).up('.popup').hide()", :class => 'close-link'
