%tr{:id => "page-attribute-#{page_attribute_counter}"}
  %th.label
    %label{:for => "page_build_page_attributes__#{page_attribute_counter}_class_name"}
      = page_attribute.name
      %small.info
        = "(#{page_attribute.class.display_name})"
      - fields_for "page[build_page_attributes][#{page_attribute_counter}]" do |attribute|
        = attribute.hidden_field :class_name, :value => page_attribute.class_name
        = attribute.hidden_field :name, :value => page_attribute.name
  %td.field
    - fields_for "page[build_page_attributes][#{page_attribute_counter}]" do |attribute|
      = render :partial => "/admin/page_attributes/#{page_attribute.class.partial_name}", :locals => { :attribute => attribute, :page_attribute => page_attribute, :page_attribute_counter => page_attribute_counter }
    = link_to_function image('minus', :alt => 'minus'), %{if(confirm('Delete this attribute?')) { page_attribute_removed('page-attribute-#{page_attribute_counter}') }}, :title => 'Remove Attribute'
- page_attribute_counter += 1
  